pom.xml
*jar
.DS_store
/lib/
/classes/
/out/
target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history
resources/public/cljs-out/
.clj-kondo/.cache
node_modules/
/.DS_Store
/src/.DS_Store
/doc-vault/.obsidian/
